
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 30px;
    font-family: 'Press Start 2P', 'Space Grotesk', sans-serif;
    font-size: 1rem;
    line-height: 20px;
    background-color: #7C7C7C;
    color: #232D22;
    display: flex;
    justify-content: center;
}
h1 {
    font-weight:bold;
    font-size: 2rem;
    padding-left: 10px;
    margin: 0;
}
a, span {
    color: #232D22;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.border{
    box-shadow:   -10px 0 0 0 #232D22,
                 10px 0 0 0 #232D22,
                 0 -10px 0 0 #232D22,
                 0 10px 0 0 #232D22;
}
.top-box {
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    gap: 30px;
}
.center-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.right-box {
    display: flex;
    flex: 1;
    gap: 30px;
    flex-direction: column;
}

.sketch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 500px;
    background-color: white;
}
.tools {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #BCBCBC;
}
input.input-box {
    font-family:inherit;
    font-size: 1.2rem;
    padding-left: 10px;
    border-style: none;
    height: 50px;
    width: 200px;
    color: #232D22;
    box-shadow:   -10px 0 0 0 #232D22,
                 10px 0 0 0 #232D22,
                 0 -10px 0 0 #232D22,
                 0 10px 0 0 #232D22;
}
.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.2rem;
    color: #232D22;
    opacity: 0.3;
}
::placeholder {
    opacity: 0.3;
}
input:focus {
    outline: none;
}
.guide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    gap: 50px;
    max-width: 1030px;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex: 1; */
    /* min-width: 760px; */
    /* min-height: 300px; */
    background-color: #fff;
}
.guide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}
.icon {
    font-size: 2rem;
    color: #91CC42;
}
.tool {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E9CED;
    color: #fff;
    font-weight:700;
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
    cursor: pointer;
    box-shadow: -10px 0 0 0 #232D22,
                10px 0 0 0 #232D22,
                0 -10px 0 0 #232D22,
                0 10px 0 0 #232D22;
}
.newGrid {
    background-color: #91CC42;
}
.title, .credits {
    flex: 1;
    /* max-width: 500px; */
    /* width: 100%; */
}
.top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    /* width: 100%; */
    padding: 10px;
    background-color: #F7D41F;
}

.canvas-square {
    flex: 1;
    aspect-ratio: 1/1;
    border: solid 1px lightgray;
}

.row {
    display: flex;
    flex: 1;
    width: 100%;
}